body {
    font-family: sans-serif;
    background: #f0f0f0;
}

h1 {
    text-align: center;
    font-weight: 300;
}

.tulisan_login {
    text-align: center;
    text-transform: uppercase;
}

.kotak_login {
    width: 350px;
    background: white;
    margin: 80px auto;
    padding: 30px 20px;
    box-shadow: 0px 0px 10px 0px #d6d6d6;
}

label {
    font-size: 11pt;
}

.form_login {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 20px;
}

.tombol_login {
    background: #46de4b;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.alert {
    background: #ff4d4d;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}